<!DOCTYPE html>
<html>

    <head>
        
        {% block head%}
            <title>Your Class</title>
        {% endblock %}

        
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" href="/modulo02/images/favicon.ico" type="image/x-icon" />
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </div>
            
        </header>

        {% block content %}{% endblock %}
        <script src="scripts.js"></script>
    </body>
</html>