.card{
    background-color: white;
    width: 800px;
    min-height: 400px;/*o min-height faz ele acompanhar todos os itens do formulário*/

    margin: 45px auto;/*alinha ao meio, por causa do auto*/

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 40px 40px 20px 20px rgba(16, 31, 235, 0.1);/* o primeiro seria o eixo x, o segundo o eixo y, o teceiro seria o efeitor bloor; e o quarto a ideia do spradi o espalhamento*;Basicamente faz a sombra do nosso card*/

    /*animação do card*/
    animation: up 700ms ease-out;

}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(100px);
    }

    to{
        opacity: 1;
    }
}


/*Detalhes*/

.details{
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0px;
}

.details .item:last-child{
    border: none;
}

.details h3,
.details .item div:nth-child(1){ /*dessa forma pegamos a primeira div da class items*/
    font-size: 16px;
    line-height: 24px; /*da uma separada do texto de baixo*/
    color: #054ff9;
    letter-spacing: 0.7px;/*espaçamento entre as letras*/
    font-weight: bold;
}

.details .item div:nth-child(2){
    font-size: 14px;
    color: black;
    font-weight: normal;
}

.details h3{
    text-transform: uppercase;
    color: var(--secondary-color);
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;/*para o span aceitar o margin-top*/
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}